{{ define "main" }}
<section class="section container">
	<div class="columns is-multiline">
			{{ range .Pages }}
			<a href="{{.Permalink}}" class="column is-4">
				<div class="card">
					<div class="card-image">
						<figure class="image is-4by3">
							<img src="{{.Params.photo}}" alt="Placeholder image">
						</figure>
					</div>
					<div class="card-content">
						<h3 class="title">{{.Title}}</h3>
						<div class="sub-title">
							{{ .Date.Format "2006-01-02" }}
						</div>
					</div>
				</div>
			</a>
			{{ end }}
		</div>
</section>
{{ end }}