<header class="head">
	<nav class="navbar is-fixed-top is-info">
		<div class="container">
			<div class="navbar-brand">
				<a href="/" class="navbar-item">
					<img alt="phuctk93 logo" src="{{.Site.Params.logo}}"/>
				</a>
				<span class="navbar-burger burger" data-target="navbarMenuHeroB">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</div>
			<div id="navbarMenuHeroB" class="navbar-menu">
				<div class="navbar-end">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
					<a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
					{{ end }}
					<span class="navbar-item">
						<a class="button is-danger">
							<span class="icon">
								<i class="fas fa-address-card"></i>
							</span>
							<span>Contact</span>
						</a>
					</span>
				</div>
			</div>
		</div>
	</nav>
	<script>
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Check if there are any navbar burgers
		if ($navbarBurgers.length > 0) {
		
			// Add a click event on each of them
			$navbarBurgers.forEach( el => {
				el.addEventListener('click', () => {
				
					// Get the target from the "data-target" attribute
					const target = el.dataset.target;
					const $target = document.getElementById(target);
				
					// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
					el.classList.toggle('is-active');
					$target.classList.toggle('is-active');
				
				});
			});
		}
	</script>
</header>