<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Description" content='{{ .Description }}' />
	<meta name="author" content="{{ with .Site.Params.author }}{{.}}{{end}}">
	<link rel="icon" href="/img/logo_p.svg">
	<link rel="canonical" href="{{ .Permalink }}">
	<title>{{ .Title }}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script defer src="/js/bugger.js"></script>
</head>