{{ define "main" }}
<section id="hi" class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
			<figure class="image is-128x128" style="margin: auto">
				<img class="is-rounded" src="{{.Site.Params.logo}}" />
			</figure>
			<div id="main" class="content">
				{{.Content}}
			</div>
			<br>
			<p id="action">
				<a href="#contact" class="button is-medium is-info">Contact</a>
			</p>
    </div>
  </div>
</section>
{{ range .Pages.GroupBy "Section" }}
<section id="{{ .Key }}" class="section">
		<h3 class="title">{{ upper .Key }}</h3>
		<div class="container">
			<div class="columns is-multiline">
					{{ range first 9 .Pages }}
					<a href="{{.Permalink}}" class="column is-4">
							<div class="card">
								<div class="card-image">
									<figure class="image is-4by3">
										<img src="https://bulma.io/images/placeholders/640x480.png" alt="Placeholder image">
									</figure>
								</div>
								<div class="card-content">
									<h3 class="title">{{.Title}}</h3>
								</div>
							</div>
					</a>
					{{ end }}
				</div>
		</div>
		<div class="has-text-centered">
			<br>
			<a href="/{{.Key}}" class="button is-link">More...</a>
		</div>
	</section>
{{ end }}
<section id="contact" class="hero is-dark is-medium">
	<div class="hero-body">
		<h2 class="is-size-2">CONTACT</h2>
		<div class="columns container">
			<div class="column">
				<h3 class="is-size-3">
					Email
				</h3>
				<a href="mailto:{{.Site.Params.email}}" class="sub-title" target="_blank">
						{{.Site.Params.email}}
				</a>
			</div>
			<div class="column">
				<h3 class="is-size-3">
					Github
				</h3>
				<a href="{{.Site.Params.github}}" class="sub-title" target="_blank">
						{{.Site.Params.github}}
				</a>
			</div>
			<div class="column">
				<h3 class="is-size-3">
					Facebook
				</h3>
				<a href="{{.Site.Params.facebook}}" class="sub-title">
						{{.Site.Params.facebook}}
				</a>
			</div>
		</div>
	</div>
</section>
{{ end }}