{{ define "main" }}
<section id="hi" class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
			<div id="main" class="content">
				{{.Content}}
			</div>
    </div>
  </div>
</section>
{{ range .Pages.GroupBy "Section" }}
<section id="{{ .Key }}" class="section has-text-centered">
		<h2 class="title is-size-2">{{ upper .Key }}</h2>
		<div class="container">
			<div class="columns is-multiline">
					{{ range first 9 .Pages }}
					<a href="{{.Permalink}}" class="column is-4">
							<div class="card">
								<div class="card-image">
									<figure class="image is-4by3">
										<img src="{{.Params.Photo}}" alt="Placeholder image">
									</figure>
								</div>
								<div class="card-content">
									<h3 class="title">{{.Title}}</h3>
								</div>
							</div>
					</a>
					{{ end }}
				</div>
		</div>
		<div class="has-text-centered">
			<br>
			<a href="/{{.Key}}" class="button is-link">More...</a>
		</div>
	</section>
{{ end }}
<section id="contact" class="hero is-light is-medium">
	<div class="hero-body has-text-centered">
		<h2 class="title is-size-2">CONTACT</h2>
		<div class="columns is-multiline">
			<a href="mailto:{{.Site.Params.email}}" class="column has-text-danger is-12-mobile is-6-table is-4-desktop">
				<i class="fas fa-envelope fa-3x"></i>
				<h3 class="is-size-3">
					Email
				</h3>
				<p target="_blank">
					{{.Site.Params.email}}
				</p>
			</a>
			<a href="{{.Site.Params.github}}" class="column has-text-dark is-12-mobile is-6-table is-4-desktop">
				<i class="fab fa-github fa-3x"></i>
				<h3 class="is-size-3">
					Github
				</h3>
				<p target="_blank">
					{{.Site.Params.github}}
				</p>
			</a>
			<a href="{{.Site.Params.facebook}}" class="column has-text-link is-12-mobile is-6-table is-4-desktop">
				<i class="fab fa-facebook fa-3x"></i>
				<h3 class="is-size-3">
					Facebook
				</h3>
				<p>
					{{.Site.Params.facebook}}
				</p>
			</a>
			<a href="{{.Site.Params.linkedin}}" class="column has-text-link">
				<i class="fab fa-linkedin fa-3x"></i>
				<h3 class="is-size-3">
					Linkedin
				</h3>
				<p>
					{{.Site.Params.linkedin}}
				</p>
			</a>
			<a href="{{.Site.Params.twitter}}" class="column has-text-info">
				<i class="fab fa-twitter fa-3x"></i>
				<h3 class="is-size-3">
					Twitter
				</h3>
				<p>
					{{.Site.Params.twitter}}
				</p>
			</a>
			<a href="{{.Site.Params.youtube}}" class="column has-text-danger">
				<i class="fab fa-youtube fa-3x"></i>
				<h3 class="is-size-3">
					Youtube
				</h3>
				<p>
					{{.Site.Params.youtube}}
				</p>
			</a>
		</div>
	</div>
</section>
{{ end }}